body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
  overflow-y: hidden;
}

.hidden {
  display: none;
}

#background {
  position: absolute;
  top: 0;
  left: center;
  z-index: -1;
  width: 100%;
}
